# 2. Переменные

## 2.1. Правила для имен переменных
* Имя не может начинаться с числа.
* В имени не может быть пробелов, вместо этого используйте нижнее подчёркивание: "_".
* Имя не может содержать следующие символы:

      :'",<>/?|\!@#%^&*~-+
       
* Считается хорошей практикой писать имена в нижнем регистре - см. [PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)
* Не используйте в качестве названий переменных ключевые слова Python, такие как `list` и `str`
* Не используйте следующие имена из одной буквы: 'l' (нижний регистр буквы L), 'O' (Верхний регистр буквы о), и 'I' (верхний регистр буквы i), потому что их можно спутать с единицей '1' и нулем '0'.

## 2.2. Динамические типы данных

Python использует динамические типы данных (*dynamic typing*), то есть Вы можете присваивать переменным значения сначала одного, а затем другого типа. Благодаря этому Python очень гибко работает с типами данных; это отличает его от тех языков программирования, в которых типы данных *статичные*.

In [ ]:
my_dogs = 2

In [ ]:
my_dogs

2

In [ ]:
my_dogs = ['Sammy', 'Frankie']

In [ ]:
my_dogs

['Sammy', 'Frankie']

### Плюсы и минусы динамических типов данных
#### Плюсы
* легче работать
* быстрее время разработки

#### Минусы
* можно получить неожиданные ошибки!
* нужно следить за типами данных - `type()`

## 2.3. Присвоение переменных
Присвоение переменных пишется вот так: `name = object`, где оператор `=` это оператор присвоения (*assignment operator*)

In [ ]:
a = 5

In [ ]:
a

5

Мы присвоили переменной с именем 'a' числовой объект `5`.<br>Давайте присвоим `a` другое значение:

In [ ]:
a = 10

In [ ]:
a

10

Теперь можно использовать `a` вместо числа `10`:

In [ ]:
a + a

20

## 2.3. Переопределение переменных
Python позволяет переопределять переменные, ссылаясь на тот же самый объект.

In [ ]:
a = a + 10

In [ ]:
a

20

И это можно написать в короткой форме. Python позволяет складывать, вычитать, умножать и делить числа с помощью `+=`, `-=`, `*=` и `/=`.

In [ ]:
a += 10 # это означает:  a = a + 10

In [ ]:
a

30

In [ ]:
a *= 2  # это означает:  a = a * 10

In [ ]:
a

60

## 2.4. Определение типа переменной с помощью `type()`
Вы можете узнать тип объекта, который был присвоен переменной, с помощью встроенной функции `type()`. Часто используемые типы данных:
* **int** (для integer)
* **float**
* **str** (для string)
* **list**
* **tuple**
* **dict** (для dictionary)
* **set**
* **bool** (для Boolean True/False)

In [ ]:
type(a)

int

In [ ]:
a = (1,2)

In [ ]:
type(a)

tuple

## Простой пример
Здесь показано, как осмысленные названия переменных могут сделать ваш код более читаемым.

In [ ]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [ ]:
my_taxes

10.0

## 2.5. Типы данных
Типы данных, которые есть в python. [официальная документация](https://docs.python.org/3/library/stdtypes.html).

1.   Числа (int, float, complex).
2.   Строки.
3.   Логический тип данных.
4.   Переменные

## Целые числа
Целые числа могут иметь бесконечную длину

In [ ]:
print(11111111111111111111111111111111111111111111111111111111111111111111111111 + 2)

11111111111111111111111111111111111111111111111111111111111111111111111113

Python поддерживает несколько систем исчисления
1.   Восьмеричную
2.   Шестнадцатеричную
3.   Двоичную

Посмотрите вики [link](https://ru.wikipedia.org/wiki/%D0%A8%D0%B5%D1%81%D1%82%D0%BD%D0%B0%D0%B4%D1%86%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D1%87%D0%BD%D0%B0%D1%8F_%D1%81%D0%B8%D1%81%D1%82%D0%B5%D0%BC%D0%B0_%D1%81%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F)

In [ ]:
print(0o11)  # base = 8
print(0x1A)  # base = 16
print(0b10)  # base = 2

9
26
2

In [ ]:
# это все тип int, над которым работает арифметика
print(type(10))
print(type(0o10))

<class 'int'>
<class 'int'>

## Числа с плавающей точкой

In [ ]:
print(4.2)
print(type(4.2))
print(4.)
print(.2)
print(.4e7)
print(type(.4e7))
print(4e+3)
print(2.2e-5 == 0.000022)
print(0.000022)

4.2
<class 'float'>
4.0
0.2
4000000.0
<class 'float'>
4000.0
True
2.2e-05

In [ ]:
# У вещественных чисел существует ограничение

# бесконечность
print(1.79e308)
print(1.8e308)
# ближайшее к нулю
print(5e-324)
print(1e-325)

1.79e+308
inf
5e-324
0.0

In [ ]:
# есть также константа inf, удобная для определения бесконечных
print(-float("inf"))
print(float("inf") > 10e300)
print(float("inf") > 10e400)

-inf
True
False

In [ ]:
(1.1 + 2.2) - 3.3 < 0.1

True

## Общие операции для разных численных типов данных

<table class="docutils align-default">
<colgroup>
<col style="width: 25%">
<col style="width: 40%">
<col style="width: 11%">
<col style="width: 24%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
<th class="head"><p>Full documentation</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">+</span> <span class="pre">y</span></code></p></td>
<td><p>sum of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">-</span> <span class="pre">y</span></code></p></td>
<td><p>difference of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">*</span> <span class="pre">y</span></code></p></td>
<td><p>product of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p>quotient of <em>x</em> and <em>y</em></p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">//</span> <span class="pre">y</span></code></p></td>
<td><p>floored quotient of <em>x</em> and
<em>y</em></p></td>
<td><p></p></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">%</span> <span class="pre">y</span></code></p></td>
<td><p>remainder of <code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">/</span> <span class="pre">y</span></code></p></td>
<td><p></p></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">-x</span></code></p></td>
<td><p><em>x</em> negated</p></td>
<td></td>
<td></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">+x</span></code></p></td>
<td><p><em>x</em> unchanged</p></td>
<td></td>
<td></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">abs(x)</span></code></p></td>
<td><p>absolute value or magnitude of
<em>x</em></p></td>
<td></td>
<td><p><a class="reference internal" href="functions.html#abs" title="abs"><code class="xref py py-func docutils literal notranslate"><span class="pre">abs()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">int(x)</span></code></p></td>
<td><p><em>x</em> converted to integer</p></td>
<td><p></p></td>
<td><p><a class="reference internal" href="functions.html#int" title="int"><code class="xref py py-func docutils literal notranslate"><span class="pre">int()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">float(x)</span></code></p></td>
<td><p><em>x</em> converted to floating point</p></td>
<td><p></p></td>
<td><p><a class="reference internal" href="functions.html#float" title="float"><code class="xref py py-func docutils literal notranslate"><span class="pre">float()</span></code></a></p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">pow(x,</span> <span class="pre">y)</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
<td><p></p></td>
<td><p><a class="reference internal" href="functions.html#pow" title="pow"><code class="xref py py-func docutils literal notranslate"><span class="pre">pow()</span></code></a></p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">**</span> <span class="pre">y</span></code></p></td>
<td><p><em>x</em> to the power <em>y</em></p></td>
<td><p></p></td>
<td></td>
</tr>
</tbody>
</table>

In [5]:
# Для чисел 94 и 43 примените здесь все эти операции

94**43

6990330424163123434035179852100112403036474044734052048030263039361340053023971344384

## Строки

Преобразовать элемент в строку можно с помощью функции `str`

In [ ]:
print('Hello')
print("Hello")
print("Hello" == 'Hello')
print(type('Hello'))

Hello
Hello
True
<class 'str'>

In [ ]:
# строка может содержать бесконечное количество символов

print('')

In [ ]:
print('Masha's apple')

SyntaxError: invalid syntax (1942883180.py, line 1)

In [ ]:
print("Masha's apple")
print('Masha\'s apple')

Masha's apple
Masha's apple

<table class="table table-hover">
<thead>
<tr>
<th>Символы<br>Экранирования</th>
<th>Usual Interpretation of<br>Character(s) After Backslash</th>
<th>“Escaped” Interpretation</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>\'</code></td>
<td>Terminates string with single quote opening delimiter</td>
<td>Literal single quote (<code>'</code>) character</td>
</tr>
<tr>
<td><code>\"</code></td>
<td>Terminates string with double quote opening delimiter</td>
<td>Literal double quote (<code>"</code>) character</td>
</tr>
<tr>
<td><code>\&lt;newline&gt;</code></td>
<td>Terminates input line</td>
<td><a href="https://stackoverflow.com/questions/48693600/what-does-the-newline-escape-sequence-mean-in-python">Newline is ignored</a></td>
</tr>
<tr>
<td><code>\\</code></td>
<td>Introduces escape sequence</td>
<td>Literal backslash (<code>\</code>) character</td>
</tr>
</tbody>
</table>

In [ ]:
print(1, 2, 3, end='', sep="---")
print(1, 2, 3)

1---2---31 2 3

## Логический тип данных

Важно отметить, что у всех объектов в питоне есть логическое значение. Т.е. он может быть протестирован на истинность. По умолчанию все объекты являются истинными (True), если только не определены специальные методы.

```
>>>bool(10)
True
>>>bool(-10)
True
>>>bool('Hello')
True
>>>bool('')
False
```

In [ ]:
None

In [ ]:
bool(None)

False

In [ ]:
True
False

In [ ]:
print(bool(0))
print(bool(''))

False
False

Булевы операторы

<table class="docutils align-default">
<colgroup>
<col style="width: 25%">
<col style="width: 62%">
<col style="width: 13%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Result</p></th>
<th class="head"><p>Notes</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">or</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>y</em>, else
<em>x</em></p></td>
<td><p>(1)</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">x</span> <span class="pre">and</span> <span class="pre">y</span></code></p></td>
<td><p>if <em>x</em> is false, then <em>x</em>, else
<em>y</em></p></td>
<td><p>(2)</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">not</span> <span class="pre">x</span></code></p></td>
<td><p>if <em>x</em> is false, then <code class="docutils literal notranslate"><span class="pre">True</span></code>,
else <code class="docutils literal notranslate"><span class="pre">False</span></code></p></td>
<td><p>(3)</p></td>
</tr>
</tbody>
</table>

In [ ]:
print(int(False or False))
print(int(False or True))
print(True or False)
print(True or True)

0
1
True
True

In [ ]:
bool(10), bool(None)

(True, False)

In [ ]:
10 or None

10

In [ ]:
'asd' and 'asc'

'asc'

Операторы сравнения

<table class="docutils align-default">
<colgroup>
<col style="width: 32%">
<col style="width: 68%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Operation</p></th>
<th class="head"><p>Meaning</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;</span></code></p></td>
<td><p>strictly less than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&lt;=</span></code></p></td>
<td><p>less than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;</span></code></p></td>
<td><p>strictly greater than</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">&gt;=</span></code></p></td>
<td><p>greater than or equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">==</span></code></p></td>
<td><p>equal</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">!=</span></code></p></td>
<td><p>not equal</p></td>
</tr>
<tr class="row-even"><td><p><code class="docutils literal notranslate"><span class="pre">is</span></code></p></td>
<td><p>object identity</p></td>
</tr>
<tr class="row-odd"><td><p><code class="docutils literal notranslate"><span class="pre">is</span> <span class="pre">not</span></code></p></td>
<td><p>negated object identity</p></td>
</tr>
</tbody>
</table>

In [ ]:
10 < 15

True

In [ ]:
1 == 1

In [ ]:
1 is not 'abc'

In [ ]:
1 or 1

# Задание 1

Создайте две переменные var_a и var_b. var_a присвойте числовое значение равное длю своего рождения, var_b присвойте значение равное номерну месяца своего значения.
Для переменных var_a и var_b выполните все арифметические и логические операции приведенные выше.

Пример:

```

a = 7
b = 2

print ('Sum: ', a + b)  
print ('Subtraction: ', a - b)   
print ('Multiplication: ', a * b)  
print ('Division: ', a / b)
print ('Floor Division: ', a // b)
print ('Modulo: ', a % b)  
print ('Power: ', a ** b)

print((a > 2) and (b >= 6))    # True

x = 5
y = 8

print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)
```

In [25]:
var_a = 27
var_b = 9

print(var_a + var_b)
print(var_a * var_b)
print(var_a%var_b)
print(abs(var_a))
print(int(var_b))
print(pow(var_a, var_b))
print(var_a ** var_b)
print("var_a == var_b:", var_a == var_b)
print("var_a != var_b:", var_a != var_b)
print("var_a < var_b:", var_a < var_b)
print("var_a > var_b:", var_a > var_b)
print("var_a <= var_b:", var_a <= var_b)
print("var_a >= var_b:", var_a >= var_b)

36
243
0
27
9
7625597484987
7625597484987
var_a == var_b: False
var_a != var_b: True
var_a < var_b: False
var_a > var_b: True
var_a <= var_b: False
var_a >= var_b: True

# Задание 2

Присвойте переменной var_c значение 32.98.

Преобразуйте переменную к типам int, float, string и выведите результат на экран. Объясните что получилось в результате преобразования.

In [31]:
var_c=32.98
print(int(var_c))
print(float(var_c))
print(str(var_c))

32
32.98
32.98

# Задание 3

1. Дано целое число A. Проверить истинность высказывания: «Число A является положительным».
1. Дано целое число A. Проверить истинность высказывания: «Число A является нечетным».
3. Дано целое число A. Проверить истинность высказывания: «Число A является четным».
4. Даны два целых числа: A, B. Проверить истинность высказывания: «Справедливы неравенства A > 2 и B ≤ 3».
5. Даны два целых числа: A, B. Проверить истинность высказывания: «Справедливы неравенства A ≥ 0 или B < –2».
6. Даны три целых числа: A, B, C. Проверить истинность высказыва-ния: «Справедливо двойное неравенство A < B < C».
7. Даны три целых числа: A, B, C. Проверить истинность высказыва-ния: «Число B находится между числами A и C».

Пример решения п. 1

```
A=-3
print("Число",A,"является положительным", A>0)
```

In [52]:
print("A=8")
print("B=11")
print("C=78")
print("Число",A,"является положительным", A>0)
print("Число",A,"является нечетным", A % 2 != 0)
print("Число",A,"является четным", A % 2 == 0)
print("Справедливы неравенства A > 2 и B ≤ 3", A > 2 and B <= 3)
print("Справедливы неравенства A ≥ 0 или B < –2", A >= 0 or B < -2 )
print("Справедливо двойное неравенство A < B < C", A<B<C)
print("Число B находится между числами A и C", A>B>C or A<B<C)

A=8
B=11
C=78
Число 8 является положительным True
Число 8 является нечетным False
Число 8 является четным True
Справедливы неравенства A > 2 и B ≤ 3 False
Справедливы неравенства A ≥ 0 или B < –2 True
Справедливо двойное неравенство A < B < C True
Число B находится между числами A и C True