# Анализ данных с Pandas

In [ ]:
import pandas as pd
import numpy as np

## Структура

In [ ]:
q = pd.DataFrame(data={'a': ['abc', 'bcd', 'def'], 'b': [1,2,3], 'c': [100, 300, 200]}, index=[8,9,10])
q

In [ ]:
q.index

In [ ]:
q.columns

In [ ]:
q.a

In [ ]:
q['a']

In [ ]:
type(q.a)

In [ ]:
q[:2]

In [ ]:
q[ ['a', 'b'] ]

In [ ]:
q[['a', 'b']][:2]

## Чтение и просмотр

Данные соцопросов Census Income, с которыми будем работать:

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/yakushinav/omo/main/data/adult_data.csv')

* __age__: continuous.
* __workclass__: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* __fnlwgt__: continuous.
* __education__: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* __education-num__: continuous.
* __marital-status__: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* __occupation__: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* __relationship__: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* __race__: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* __sex__: Female, Male.
* __capital-gain__: continuous.
* __capital-loss__: continuous.
* __hours-per-week__: continuous.
* __native-country__: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

`head()` показывает первые 5 строк датафрейма.

`tail()` - последние 5.

`head(N)` показывает первые N строк датафрейма.

`tail(N)` - последние N.

In [ ]:
df.head(3)

## Общее

Размер:

In [ ]:
df.shape

Столбцы:

In [ ]:
df.columns

Информация содержит данные о типе колонок, степени их заполненности (в нашем случае пропусков в данных нет), типе данных каждой из колонок, а также потреблении памяти:

In [ ]:
df.info()

Метод `describe` содержит основные статистики по числовым столбцам данных:
* количество
* среднее
* среднеквадратичное отклонение
* минимум, максимум
* медиану
* первый и третий квартили

In [ ]:
df.describe()

Если хочется посмотреть и на нечисловые признаки, то нужно указать их тип в параметре `include`. Всего есть совсем немного основных:
* `bool` - логический
* `object` - общий нечисловой, в большинстве случаев это строки
* `numeric` - числовой, включающий как числа с плавающей запятой, так и целые

In [ ]:
df.describe(include=['object', 'bool'])

Полезным методом является `value_counts()`, считающим распределение данных по категориям:

In [ ]:
df.education.value_counts()

Для отображения в долях существует флажок `normalize`:

In [ ]:
df.education.value_counts(normalize=True)

Можно строить простые диаграммы

In [ ]:
df.education.value_counts().plot.bar(); #(kind='bar');

## Индексация и фильтры

Весь датафрейм:

In [ ]:
print(df)

Только те, чей возраст меньше 25 лет, но больший 10:

In [ ]:
df[(df.age < 25) & (df.age > 10)]

Только те, кто получают больше 50 000$:

In [ ]:
df[df.salary == '>50K']

In [ ]:
df[df.salary == '<=50K'].sex.value_counts(normalize=False)

In [ ]:
df[df.salary == '>50K'].sex.value_counts(normalize=True)

## Сортировка

In [ ]:
df.sort_values(by=['education'])

Отсортируем сначала по полу, внутри пола - по возрасту, но в обратном порядке

In [ ]:
df.sort_values(by=['sex', 'age'], ascending=[True, False])

## Применение функций

Применить функцию к каждому столбцу или каждой строке можно с помощью `apply`:

In [ ]:
t = pd.DataFrame(data = {'a': [1,2,3], 'b': [4,5,6]})
t

In [ ]:
t['c'] = t.apply(lambda row: row['a'] + row['b'], axis=1) # построчно

In [ ]:
t

Применение функции к каждой __ячейке__ реализовывается с помощью `map`:

In [ ]:
renaming = {'>50K': 1, '<=50K': 0}
df.salary = df.salary.map(renaming)

In [ ]:
df.salary.value_counts()

In [ ]:
renaming = {1:'> 50K', 0: '<= 50K'}
df.salary = df.salary.map(renaming)

__apply__ к нескольким столбцам сразу называется __applymap__:

In [ ]:
df['sex'] = df['sex'].apply(lambda x: x.lower())
df['relationship'] = df['relationship'].apply(lambda x: x.lower())

In [ ]:
# same as above:
cols = ['sex', 'relationship']
df[cols] = df[cols].applymap(lambda x: x.lower())

У строковых столбцов есть хитрое поле __str__, которое возвращает наружу как будто строку (синтаксис тот же), но применяет к каждому элементу столбца.

При больших объемах данных это будет быстрее, потому что `.str` под капотом векторизует операции со строками. Для дат можно использовать `.dt`.

In [ ]:
df.sex.apply(lambda x: x.upper());

In [ ]:
# same as above
df.sex.str.upper();

## Дубликаты

In [ ]:
q = pd.DataFrame(data={'a': [1,2,3,1,1], 'b': [1,2,3,2,1], 'c':[10,20,30,40,40]})
q

In [ ]:
q.duplicated(['a'])

In [ ]:
q.duplicated(['a', 'b']) # - уже оценивает кортежи значений из нескольких колонок

In [ ]:
q.drop_duplicates(subset=['a'])

In [ ]:
q.drop_duplicates(subset=['a', 'b'])

## Группировка

In [ ]:
df.groupby(['salary']);

__Важно__: groupby-объекты - не копии частей датафрейма!

In [ ]:
df.groupby(['salary']).describe(include=['object', 'bool'])

In [ ]:
df.groupby('salary')

In [ ]:
df.sex.value_counts()

In [ ]:
df.groupby('salary').sex.value_counts().plot.bar();

## Таблицы сопряженности и melt

### Таблицы сопряженности

In [ ]:
pd.crosstab(df.salary, df.sex).plot(kind='bar');

In [ ]:
pd.crosstab(df.salary, df.sex, normalize=True)

In [ ]:
pd.crosstab(df.salary, df['marital-status'], normalize=True).plot.bar();

### Melt - превращение столбцов в строки

In [ ]:
t = pd.DataFrame(data={'name': ['PC', 'PlayStation4'],
                   '1W-2014': [100, 300],
                   '2W-2014': [150, 350]})
t

In [ ]:
t2 = pd.melt(t, id_vars=['name'], value_name='cost', var_name='timestamp')
t2

## Изменение таблиц

In [ ]:
df.head(2)

### Добавление нового столбца

In [ ]:
df['working_days'] = df['hours-per-week'] / 8.0

In [ ]:
df.head(2)

In [ ]:
df['constant'] = 1

In [ ]:
df = df.assign(anotherConstant = lambda dataframe: dataframe.constant*2)

In [ ]:
df.head(2)

### Удаление строк и столбцов

In [ ]:
df.drop(['constant', 'anotherConstant'], axis=1, inplace=True)

__NB__: У большинства операторов pandas есть флажок `inplace`. Если он выставлен в `False` (по умолчанию именно так), то изменения, например, как `drop` в примере выше, не будут изменять таблицу, а вернут измененную копию.

In [ ]:
df.drop([1,2]).head(3) # => удаляет строки

### loc, iloc

In [ ]:
df.loc[0, 'workclass'] # получение конкретной ячейки по индексу и названию столбца

In [ ]:
df.iloc[0, 1] # получение конкретной ячейки по номеру строки и номеру столбца, вне зависимости от индексов

__Важно__: можно и получать строки по маскам:

In [ ]:
df.loc[df.age % 5 == 0, 'workclass'].head()

__Важно__: Основываясь на этом, можно присваивать другим значениям:

In [ ]:
df.loc[df.age % 2 == 0, 'workclass'] = 'ЧЕТНЫЙ'

In [ ]:
df.loc[:5, 'education'] = 'NO EDUCATION'

In [ ]:
df.head(7)

### Переименование столбцов

In [ ]:
df.columns = [c.upper() for c in df.columns]

In [ ]:
df.head(1)

In [ ]:
df.columns = [c.lower() for c in df.columns]

In [ ]:
df = df.rename(columns={'marital-status': 'marital_status'})
                        # словарь старое-новое значение

## Работа с пропущенными (NaN) значениями

In [ ]:
test = pd.DataFrame(data={'name': ['John', 'Bill', 'Jennifer', 'Max'],
                          'salary': [90, np.nan, 95, 130],
                          'age': [27, 30, np.nan, np.nan],
                          'status': [np.nan, 'married', np.nan, 'married']
                         })
test = test[['name', 'age', 'salary', 'status']]
test

### Отображение

In [ ]:
test[test['age'].isnull()]

In [ ]:
test[test['age'].notnull()]

In [ ]:
test[test.isnull().any(axis=1)] # !

In [ ]:
test[~test.isnull().any(axis=1)]

### Заполнение

Прежде всего, можно заполнить некоторым константным значением:

In [ ]:
dashtest = test.fillna('-')
dashtest

Важно заметить, что теперь слобцы возраста и зарплаты более не числовые:

In [ ]:
print(test.dtypes, '\n\n', dashtest.dtypes)

In [ ]:
test.fillna(method='ffill')

In [ ]:
test.fillna(method='bfill')

In [ ]:
test.fillna(method='ffill').fillna(method='bfill')

In [ ]:
test['salary'] = test[['salary']].fillna(test.salary.median())
test

In [ ]:
test['age'] = test[['salary']].fillna(25)
test['status'] = test[['status']].fillna(test.status.mode()[0])
test

## Краткий конспект

- df.shape - размер
- df.head(N), df.tail(N), - просмотр
- df[массив имен колонок] - часть (slice) датафрейма
- df['имя колонки'] - одна колонка (можно и через точку: df.имя_колонки)
- df.unique, df.nunique - просмотр уникальных значений и их количества
- df.value_counts - сколько разных значений в колонке
- df.имя колонки.apply - применяет функцию к значениям в столбце
- df.fillna - заполняет NaN
- df.dropna - удаляет строки/столбцы с NaN
- df.duplicated - показывает строки, являющиеся дупликатами других
- df.drop_duplicates - удаляет строки-дупликаты
- df[df.isnull().any(axis=1)] - вывести строки, содержащие NaN
- df[df.имя колонки.isnull().any(axis=1)] - вывести только те строки, где в указанной колонке есть пропуски
- df.groupby - группировка по некоторому признаку

## Задание

**1.** Загрузите csv-файл `https://raw.githubusercontent.com/yakushinav/omo/main/data/fishing.csv` в переменную fishing_data. Описание данных см. [здесь](https://github.com/yakushinav/journ/blob/main/fishing.md).

In [6]:
import pandas as pd
df = "https://raw.githubusercontent.com/yakushinav/omo/main/data/fishing.csv"
fishing_data = pd.read_csv(df)

**2.** Выведите описательные статистики для всех числовых (integer, float) переменных в датафрейме.

In [7]:
fishing_data.describe(include=['int64', 'float64'])

,Unnamed: 0,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
count,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000,1182.000000
mean,591.500000,52.081975,0.389368,103.422005,103.422005,55.256570,84.379244,0.241011,0.162224,0.171215,0.629368,4099.337054
std,341.358316,53.829970,0.560596,103.641042,103.641042,62.713444,63.544650,0.190752,0.160390,0.209789,0.706114,2461.964060
min,1.000000,1.290000,0.000200,1.290000,1.290000,2.290000,27.290000,0.067800,0.001400,0.000200,0.002100,416.666680
25%,296.250000,15.870000,0.036100,26.656500,26.656500,13.122000,42.896000,0.067800,0.050300,0.023300,0.021900,2083.333200
50%,591.500000,37.896000,0.164300,74.628000,74.628000,33.534000,61.607000,0.253700,0.078900,0.089700,0.421600,3749.999900
75%,886.750000,67.513000,0.533300,144.144000,144.144000,72.402000,102.774000,0.533300,0.149800,0.241300,1.026600,5416.666700
max,1182.000000,666.110000,2.310100,843.186000,843.186000,666.110000,691.110000,0.533300,0.452200,0.736900,2.310100,12499.998000

**3.** Выберите из таблицы только строки, которые соответствуют респондентам, которые выбрали рыбалку на берегу (`beach`).

In [10]:
beach_data = fishing_data[fishing_data['mode'] == 'beach']
print(beach_data.describe(include=['int64', 'float64']))

        Unnamed: 0       price       catch      pbeach       ppier  \
count   134.000000  134.000000  134.000000  134.000000  134.000000
mean    651.402985   35.699493    0.279195   35.699493   35.699493
std     352.702906   43.094137    0.193873   43.094137   43.094137
min       7.000000    1.290000    0.067800    1.290000    1.290000
25%     328.000000    9.976500    0.067800    9.976500    9.976500
50%     708.500000   19.308000    0.253700   19.308000   19.308000
75%     945.750000   42.762500    0.533300   42.762500   42.762500
max    1181.000000  306.820000    0.533300  306.820000  306.820000

            pboat    pcharter      cbeach       cpier       cboat    ccharter  \
count  134.000000  134.000000  134.000000  134.000000  134.000000  134.000000
mean    97.809134  125.003164    0.279195    0.219001    0.159399    0.517609
std     75.438437   78.376410    0.193873    0.167712    0.094885    0.362910
min      2.290000   27.290000    0.067800    0.002500    0.000800    0.002700
25%     42.320000   64.064000    0.067800    0.078900    0.024375    0.057625
50%     78.076000  104.865000    0.253700    0.149800    0.166500    0.539100
75%    132.990000  160.383500    0.533300    0.452200    0.241300    0.628800
max    392.946000  427.946000    0.533300    0.452200    0.260100    1.026600

             income
count    134.000000
mean    4051.616731
std     2505.419975
min      416.666680
25%     2083.333200
50%     3749.999900
75%     5416.666700
max    12499.998000

**4.** Выберите из таблицы строки, которые соответствуют респондентам, которые предпочитают рыбачить на лодке (`boat`) с доходом (`income`) ниже 3500. Сохраните результат в переменную `boat_data`.

In [12]:
boat_data = fishing_data[(fishing_data['mode'] == 'boat') & (fishing_data['income'] < 3500)]
print(boat_data)

      Unnamed: 0  mode    price   catch   pbeach    ppier    pboat  pcharter  \
9             10  boat   28.314  0.0233   28.314   28.314   28.314    46.814
22            23  boat   15.134  0.1665  100.674  100.674   15.134    50.134
32            33  boat    7.722  0.0023   33.462   33.462    7.722    31.722
37            38  boat   80.608  0.0531   25.648   25.648   80.608   105.608
40            41  boat   46.332  0.1643   10.296   10.296   46.332    75.332
...          ...   ...      ...     ...      ...      ...      ...       ...
1121        1122  boat   48.906  0.0732  204.204  204.204   48.906    78.406
1129        1130  boat    3.290  0.0531   37.506   37.506    3.290    28.290
1135        1136  boat   37.506  0.0102  101.990  101.990   37.506    72.506
1141        1142  boat  132.990  0.0156    4.290    4.290  132.990   167.990
1154        1155  boat   39.990  0.1574   30.186   30.186   39.990    63.990

      cbeach   cpier   cboat  ccharter      income
9     0.2537  0.1498  0.0233    0.0219  2916.66660
22    0.5333  0.4522  0.1665    0.3975  2083.33320
32    0.1049  0.0451  0.0023    0.0046  2916.66660
37    0.2537  0.1498  0.0531    0.0052  1249.99980
40    0.0678  0.0789  0.1643    0.5391  2916.66660
...      ...     ...     ...       ...         ...
1121  0.0678  0.0052  0.0732    0.1726  2916.66660
1129  0.2537  0.1498  0.0531    0.0052  2083.33320
1135  0.0678  0.0789  0.0102    0.0209  2083.33320
1141  0.5333  0.4522  0.0156    0.0058  2916.66660
1154  0.1049  0.0451  0.1574    0.4671   416.66668

[152 rows x 13 columns]

**5.** Переименуйте столбец `catch` в `c_rate`.

In [13]:
boat_data = boat_data.rename(columns={'catch': 'c_rate'})

**6.** Добавьте в таблицу столбец `log_income`, содержащий натуральный логарифм доходов респондентов.

In [14]:
import math
boat_data['log_income'] = boat_data['income'].apply(math.log)
print(boat_data[['income', 'log_income']].describe())

            income  log_income
count   152.000000  152.000000
mean   2214.912174    7.607284
std     773.843859    0.504048
min     416.666680    6.032287
25%    2083.333200    7.641724
50%    2083.333200    7.641724
75%    2916.666600    7.978197
max    2916.666600    7.978197

**7.** Сгруппируйте наблюдения в таблице по признаку тип рыбалки (`mode`) и выведите для каждого типа среднюю цену (`price`), которую респонденты готовы заплатить за рыбалку.

In [21]:
mean_prices = fishing_data.groupby('mode')['price'].mean()
print(mean_prices.to_markdown(floatfmt=".2f"))

| mode    |   price |
|:--------|--------:|
| beach   |   35.70 |
| boat    |   41.61 |
| charter |   75.10 |
| pier    |   30.57 |

**8.** Выведите на экран первые 8 строк таблицы. А теперь последние 8.

In [24]:
fishing_data.head(8)

,Unnamed: 0,mode,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
0,1,charter,182.930,0.5391,157.930,157.930,157.930,182.930,0.0678,0.0503,0.2601,0.5391,7083.3317
1,2,charter,34.534,0.4671,15.114,15.114,10.534,34.534,0.1049,0.0451,0.1574,0.4671,1249.9998
2,3,boat,24.334,0.2413,161.874,161.874,24.334,59.334,0.5333,0.4522,0.2413,1.0266,3749.9999
3,4,pier,15.134,0.0789,15.134,15.134,55.930,84.930,0.0678,0.0789,0.1643,0.5391,2083.3332
4,5,boat,41.514,0.1082,106.930,106.930,41.514,71.014,0.0678,0.0503,0.1082,0.3240,4583.3320
5,6,charter,63.934,0.3975,192.474,192.474,28.934,63.934,0.5333,0.4522,0.1665,0.3975,4583.3320
6,7,beach,51.934,0.0678,51.934,51.934,191.930,220.930,0.0678,0.0789,0.1643,0.5391,8750.0010
7,8,charter,56.714,0.0209,15.134,15.134,21.714,56.714,0.0678,0.0789,0.0102,0.0209,2083.3332

In [25]:
fishing_data.tail(8)

,Unnamed: 0,mode,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income
1174,1175,boat,86.802,0.0102,91.834,91.834,86.802,121.802,0.0678,0.0789,0.0102,0.0209,4583.33200
1175,1176,charter,149.402,0.0209,121.034,121.034,114.402,149.402,0.0678,0.0789,0.0102,0.0209,6250.00130
1176,1177,beach,121.836,0.5333,121.836,121.836,203.346,238.346,0.5333,0.4522,0.2413,1.0266,2916.66660
1177,1178,pier,150.236,0.4522,150.236,150.236,250.746,285.746,0.5333,0.4522,0.2413,1.0266,3749.99990
1178,1179,beach,235.436,0.5333,235.436,235.436,392.946,427.946,0.5333,0.4522,0.2413,1.0266,6250.00130
1179,1180,pier,65.036,0.4522,65.036,65.036,108.546,143.546,0.5333,0.4522,0.2413,1.0266,1249.99980
1180,1181,beach,36.636,0.5333,36.636,36.636,61.146,96.146,0.5333,0.4522,0.1665,0.3975,416.66668
1181,1182,boat,235.436,0.6817,339.890,339.890,235.436,260.436,0.2537,0.1498,0.6817,2.3014,6250.00130

**9.** Сохраните изменённый датафрейм в csv-файл.

In [32]:
fishing_data.to_csv('fishing_data_processed.csv', index=False)